
.top_menu{
  display: flex;
  justify-content: end;
}

.top_menu ul{
  display: flex;
  gap: 10px;
  margin: 8px 0px; 
}
.banner_img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center 80%;
}
.banner_div{
  position: relative;
}
.banner_title{
  position: absolute;
  top: 46px;
  left: 100px;
  color: white;
  font-size: 3rem;
  letter-spacing: 10px;
  font-family: 'KblcourtEbttf';
}
