.container{
  border: 1px solid black;
  padding: 12px;
  background-color: rgba(211, 211, 211, 0.09);
}

.container > div:not(:first-child){
  margin-top: 20px;
}

.container h5{
  margin-bottom: 8px;
}

.container ul{

}

.container li{
  padding: 10px 0px;
  display: flex;
  gap: 4px;
  padding-left: 8px;
  font-size: 0.9rem;
}

.icon{
  color: #673de6;
  font-size: 0.9rem;
}

.container li:hover{
  background-color: #6840e013;
  color: #1e2d40;
  cursor: pointer;
}