.container{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.main{
  display: flex;
}
.side{
  width: 20%;
  border: 1px solid rgba(56, 56, 52, 0);
  border-radius: 20px
}
.content{
  width: 80%;
}