.select{
  font-size: 0.9rem;
  padding: 0.3rem;
  border: 1px solid #30aa6d;
  border-radius: 4px;
  outline: none;
  transition: all 0.15s
}
.select:focus{
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25)
}