.container{
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  text-align: left;
}
.category{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bookTitle{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.priceAuthor{
  display: flex;
  width: 100%;
  gap: 20px;
}
.priceAuthor > div{
  display: flex;
  flex-direction: column;
}
.priceAuthor > div > input{
  width: 100%;
}
.intro{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.intro > textarea{
  height: 100px;
}
.publish{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container > div{
  gap: 5px;
}
.container button{
  width: 100%;
}
