.container{
  margin: 0 auto;
  padding: 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #30aa6d;
}

.container > div{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}
.container > div >p{
  margin-bottom: 0.2rem;
}
.id_div {
  display: flex;
}
.id_div > div {
  display: flex;
  gap: 6px;
}
.id_div input{
  width: 70%;
}
.id_div button{
  width: 30%;
}
.tel_div{
  display: flex;
  gap: 10px;
  
}
.tel_div input{
  width: 100%;
}
.address{
  gap: 6px;
  display: flex;
}
.address > div{
  display: flex;
  width: 100%;
  gap: 5px;
}
.address button{
  width: 30%;
}
.address >div >input{
  width: 70%;
}

.btn_div button{
  width: 100%;
}