.container{
  margin: auto;
  padding: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
}
.container button{
  background-color: blueviolet;
}
.container > div{
  display: flex;
  flex-direction: column;
}
.join {
  display: flex;
  width: 100%;
}
.join > div {
   display: grid;
  grid-template-columns: 1fr auto;
  width: 100%
}
.telinput{
  display: flex;
  gap: 10px;
  
}
.telinput input{
  width: 100%;
}
.address > div{
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}
.address>div input{
  width: 100%;
}