<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.book_shop_t.book.mapper.BookMapper">
	<resultMap id="books" type="com.green.book_shop_t.book.dto.BookDTO">
        <id property="bookNum" column="BOOK_NUM"/>
        <result property="bookTitle" column="BOOK_TITLE"/>
        <result property="author" column="AUTHOR"/>
        <result property="bookPrice" column="BOOK_PRICE"/>
        <result property="bookStock" column="BOOK_STOCK"/>
        <result property="bookIntro" column="BOOK_INTRO"/>
        <result property="publishDate" column="PUBLISH_DATE"/>
        <result property="cateNum" column="CATE_NUM"/>
    </resultMap>

   <insert id="bookReg">
       INSERT INTO SHOP_BOOK(
         BOOK_TITLE
         , BOOK_PRICE
         , AUTHOR
         , BOOK_INTRO
         , PUBLISH_DATE
         , CATE_NUM
       ) VALUES (
        #{bookTitle}
       ,#{bookPrice}
       ,#{author}
       ,#{bookIntro}
       ,#{publishDate}
       ,#{cateNum}
       )
   </insert>
    <!--도서 목록조회 쿼리-->
    <select id="selectBookList" resultMap="books">
        SELECT BOOK_NUM
        , BOOK_TITLE
        , BOOK_PRICE
        FROM SHOP_BOOK
        ORDER BY BOOK_NUM DESC
    </select>
    <!--도서 상세 조회 쿼리-->
    <select id="selectDetail" resultMap="books">
        SELECT BOOK_TITLE
        , AUTHOR
        , BOOK_PRICE
        , BOOK_STOCK
        , BOOK_INTRO
        FROM SHOP_BOOK
        WHERE BOOK_TITLE = #{bookTitle}
            , AUTHOR = #{author}
            , BOOK_PRICE = #{bookPrice}
            , BOOK_STOCK = #{bookStock}
            , BOOK_INTRO = #{bookIntro}
    </select>


</mapper>































