<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.book_shop_t.book.mapper.BookMapper">
    <resultMap id="book" type="com.green.book_shop_t.book.dto.BookDTO">
        <id     column="BOOK_NUM"       property="bookNum"/>
        <result column="BOOK_TITLE"     property="bookTitle"/>
        <result column="AUTHOR"         property="author"/>
        <result column="BOOK_PRICE"     property="bookPrice"/>
        <result column="BOOK_STOCK"     property="bookStock"/>
        <result column="BOOK_INTRO"     property="bookIntro"/>
        <result column="PUBLISH_DATE"   property="publishDate"/>
        <result column="CATE_NUM"       property="cateNum"/>
        <!--<association property="" resultMap=""></association> 1 : 1 관계 설정-->
        <!--<collection property="" resultMap=""></collection>   1 : N 관계 설정-->
        <collection property="bookImgList" resultMap="com.green.book_shop_t.book.mapper.BookImgMapper.bookImg"></collection>
    </resultMap>

    <!--도서 등록-->
    <insert id="insertBook">
        INSERT INTO SHOP_BOOK (
            BOOK_NUM
            , BOOK_TITLE
            , AUTHOR
            , BOOK_PRICE
            , BOOK_INTRO
            , PUBLISH_DATE
            , CATE_NUM
        ) VALUES (
            #{bookNum}
            , #{bookTitle}
            , #{author}
            , #{bookPrice}
            , #{bookIntro}
            , #{publishDate}
            , #{cateNum}
        )
    </insert>

    <!--도서 목록 조회-->
    <select id="selectBookList" resultMap="book">
        SELECT B.BOOK_NUM
            , BOOK_TITLE
            , BOOK_PRICE
            , UPLOAD_FILE_NAME
        FROM SHOP_BOOK B, BOOK_IMG I
        WHERE B.BOOK_NUM = I.BOOK_NUM
        AND IS_MAIN = 'Y'
        ORDER BY BOOK_NUM DESC
    </select>

    <select id="getNextBookNum" resultType="int">
        SELECT IFNULL(MAX(BOOK_NUM), 0) + 1
        FROM SHOP_BOOK
    </select>

    <!--도서 상세 정보 조회-->
    <select id="selectBookDetail" resultMap="book">
        SELECT B.BOOK_NUM
            , BOOK_TITLE
            , BOOK_PRICE
            , AUTHOR
            , BOOK_INTRO
            , UPLOAD_FILE_NAME
            , IS_MAIN
        FROM SHOP_BOOK B, BOOK_IMG I
        WHERE B.BOOK_NUM = I.BOOK_NUM
        AND B.BOOK_NUM = #{bookNum}
    </select>


</mapper>































