.container{
  border: 1px solid black;
}
.flex_div{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cnt_td > input{
  width: 100%;
  text-align: center;
}
.total{
  font-size: 20px;
  text-align: right;
}